* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}
body {
  background-color: #707988;
  background-image: url(./components/images/contours.png);
  background-position: 0;
  background-repeat: repeat;
  background-size: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  background-color: #363c47;
  padding: .7em .3em;
  margin: .5em 2em;
  position: sticky;
  top: .75em;
  display: flex;
  justify-content: space-around; 
  border-radius: .75em;
  z-index: 50;
}
.navLink {
  color: #b3fbeb;   
  font-size: 1.2em;
}
nav > button {
  background: none;
  border: none;
}
.loginContainer {
  border: .15em solid #363c47;
  background-color: hsl(346, 32%, 81%);
  margin: 3.75em 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.loginContainer > h1 {
  margin: 3em 0 1em 0;
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #363c47;
}
.loginContainer > p {
  margin: .25em 0 2em 0;
  font-size: 1em;
  text-decoration: underline;
}
header {
  text-align: center;
  font-size: 1.5em;
  color: rgb(222, 191, 198);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.issuesHeader {
  margin: 1.5em 0;
}
.newIssueContainer {
  background-color: rgb(222, 191, 198);
  border: .2em solid #363c47;
  margin: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #363c47;
}
.newIssueContainer > h1 {
  margin: 1em 0 0 0;
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em 4em;
}
form > input {
  background-color: #b3bac7;
  margin-bottom: 1em;
  padding: .25em;
  font-size: .75em;
}
form > textarea {
  padding: .25em;
}
  .issueTxtarea {
    background-color: #b3bac7;
    margin-bottom: 1em;
    font-size: .75em;
  }
  .commentTxtarea {
    height: 3.75em;
  }
    .darkTxtarea {
      background-color: #b3bac7;
    }
    .lightTxtarea {
      background-color: rgb(230, 219, 222);
    }
form > button {
  background-color: #363c47;
  color: #b3bac7;
  padding: .25em;
}
  .issueBtn {
    margin: 0 4em;
    font-size: .75em;
  }
  .commentBtn {
    font-size: 1.2em;
  }

.issuesContainer {
  display: grid;

  text-align: center;
}
.issuesContainer > h1 {
  margin: 1em 0;
  font-size: 2.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(222, 191, 198);
  grid-column: 1 / -1;
}
.issue {
  margin: 0 1em .5em 1em;
  padding: .5em;
  border-radius: .75em;
}
  .dark {
    background-color: #363c47;
    color: #b3fbeb;
  }
  .light {
    background-color: hsl(346, 32%, 81%);
    color:#363c47;
  }
.issue > h1 {
  font-size: 1.25em;
  padding: .5em 0;
}
  .darkBorder {
    border-bottom: #b3fbeb 2px solid;
  }
  .lightBorder {
    border-bottom: 3px solid #363c47;
  }
.issue > h3 {
  font-size: 1em;
  padding: .5em;
  height: 5em;
}
.splitContainer {
  display: flex;
  justify-content: space-evenly;
  padding: .5em 0;
}
.voteBtn {
  margin: 0 .25em;
  padding: .25em .5em 0 .5em;
  border-radius: .72em;
}
  .lightBtn {
    color: rgb(230, 219, 222);
    background-color:#363c47;
  }
  .darkBtn {
    color: #363c47;
    background-color: #b3fbeb;
  }
.comment {
  margin: .25em;
  padding: .25em;
  border: #363c47 dashed .12em;
  border-radius: .5em;
}
.comment > h1 {
  font-size: 1em;
}
 /* Phone */
@media only screen and (550px < width <= 750px){
  .loginContainer {
    margin: 3.75em 4em;
  }
  .loginContainer > h1 {
    font-size: 1.5em;
  }
  .loginContainer > p {
    font-size: 1em;
  }
  header {
    font-size: 2em;
  } 
  .newIssueContainer {
    margin: 1em 3em;
  }
  .newIssueContainer > h1 {
    font-size: 1.5em;
  } 
  form > input {
    font-size: 1em;
  }
  .issueTxtarea {
    font-size: 1em;
  }
  .issueBtn {
    font-size: 1em;
  }
}
@media only screen and (750px < width <= 1024px){
  .loginContainer {
    margin: 3.75em 7em;
  }
  .loginContainer > h1 {
    font-size: 2em;
  }
  .loginContainer > p {
    font-size: 1.25em;
  }
  header {
    font-size: 2em;
  } 
  .newIssueContainer {
    margin: 1em 7em; 
  }
  .newIssueContainer > h1 {
    font-size: 2em;
  } 
  form > input {
    font-size: 1.3em;
  }
  .issueTxtarea {
    font-size: 1.3em;
  }
  .issueBtn {
    font-size: 1.3em;
  }
  .issuesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (width > 1024px){
  .loginContainer {
    margin: 3.75em 10em;
  }
  .loginContainer > h1 {
    font-size: 2.5em;
  }
  .loginContainer > p {
    font-size: 1.5em;
  }
  header {
    font-size: 3em;
  } 
  .newIssueContainer {
    margin: 1em 15em; 
  }
  .newIssueContainer > h1 {
    font-size: 2.5em;
  }
  form > input {
    font-size: 1.8em;
  }
  .issueTxtarea {
    font-size: 1.8em;
  }
  .issueBtn {
    font-size: 1.8em;
  }
  .issuesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}